<h2>Users</h2>
<ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{ user.id }}">{{ user.name }}</a>
    <ul>
      <li>{{ user.email }}</li>
      <a href="http://{{ user.website }}">{{ user.website }}</a>
    </ul>
  </li>
</ul>
